In [3]:
import pymongo

In [4]:
conn=pymongo.MongoClient("mongodb://localhost:27017/")
#Databse connection
db=conn["college"]
#Table selection
col=db["studlist"]

In [6]:
col.insert_one({"_id":2, "name" : "Abraham", "course":"MCA"})

InsertOneResult(2, acknowledged=True)

In [19]:
students=[{"_id":10, "name" : "Akhil", "course":"MCA"},
           {"_id":9, "name" : "Aishu", "course":"MCA"},
           {"_id":8, "name" : "Afraq", "course":"MCA"},
           {"_id":6, "name" : "Abin", "course":"MCA"}]

In [20]:
for var in students:
    if col.find_one({"_id": var["_id"]}) is None:
        col.insert_one(var)

In [23]:
col.delete_many({})

DeleteResult({'n': 6, 'ok': 1.0}, acknowledged=True)

In [24]:
import json
with open("students.json") as file:
 data=json.load(file)
db.studlist.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], acknowledged=True)

In [ ]:
x=db.studlist.find({"course":"MCA", "gender":"female"})
for i in x:
    print("\nName: "i['name']['fname']+" "+i['name']['lname'])+ " \nMark: " ,i['mark'], "\nGrade: ",i['grade'])

SyntaxError: unmatched ')' (4118807049.py, line 3)

In [50]:
x=db.studlist.find({"course":"MCA"}).sort("mark",-1).limit(1)
for i in x:
    print("\n Name: " ,i['name']['fname'], "\n Mark: ", i['mark'])

 Name:  Amritha
 Mark:  99

In [66]:
x=db.studlist.find({"gender":"male","grade":"A+"})
for i in x:
    print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['mark'])

 Name: Vimal Vinayan
 Mark:  90

 Name: Vimal Bose
 Mark:  90

 Name: Arun S
 Mark:  91

In [67]:
# Display the names of top three students in Mechanical department.


x=db.studlist.find({"course":"Mechanical"}).sort("mark",-1).limit(3)
for i in x:
        print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['mark'])

 Name: Kavya Mohan
 Mark:  95

 Name: Vimal Vinayan
 Mark:  90

 Name: Yadu Kannan
 Mark:  85

In [ ]:
#Display the details of female students who achieved a mark more than 90.

x=db.studlist.find({"gender":"female","mark":{"$gt":90}})
for i in x:
        print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['mark'])

 Name: Kavya Mohan
 Mark:  95

 Name: Amritha S
 Mark:  99

In [73]:
#Display the details of students who secured mark, more than 80 but less than 90.

x=db.studlist.find({"mark":{"$gt":80,"$lt":90}})
for i in x:
        print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['mark'])

 Name: Vidhya S
 Mark:  85

 Name: Yadu Kannan
 Mark:  85

 Name: Renuka Vijayan
 Mark:  82

 Name: Remya V
 Mark:  85

# Regex : {"field_name": {"$regex": "pattern"}}

In [84]:
# Display the details of students whose name starts with ‘V’

x=db.studlist.find({"name.fname":{"$regex":"^V"}})
for i in x:
        print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['mark'])

 Name: Varun Nair
 Mark:  70

 Name: Vidhya S
 Mark:  85

 Name: Vivek Bose
 Mark:  60

 Name: Vimal Vinayan
 Mark:  90

 Name: Vimal Bose
 Mark:  90

 Name: Vinod Paniker
 Mark:  70

 Name: Vidhya Sugunan
 Mark:  79

In [ ]:
#Female students from Kollam or Thiruvananthapuram

x=db.studlist.find({"address.city":{"$in":["Kollam","Thiruvananthapuram"]}})
for i in x:
        print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['address']['city'])

 Name: Athira Krishnan
 Mark:  Kollam

 Name: Varun Nair
 Mark:  Thiruvananthapuram

 Name: Karthik MS
 Mark:  Thiruvananthapuram

 Name: Yadu Kannan
 Mark:  Kollam

 Name: Kavya Mohan
 Mark:  Kollam

 Name: Vimal Vinayan
 Mark:  Kollam

 Name: Renuka Vijayan
 Mark:  Thiruvananthapuram

 Name: Remya V
 Mark:  Thiruvananthapuram

 Name: Remya Sugunan
 Mark:  Thiruvananthapuram

 Name: Jabin S
 Mark:  Kollam

 Name: Vidhya Sugunan
 Mark:  Thiruvananthapuram

 Name: Arya Satheesh
 Mark:  Kollam

 Name: Soorya S
 Mark:  Thiruvananthapuram

 Name: Soorya P
 Mark:  Thiruvananthapuram

 Name: Sayooj Kiran
 Mark:  Thiruvananthapuram

In [7]:
# students from neither Kollam nor Thiruvananthapuram

x=db.studlist.find({"address.city":{"$nin":["Kollam","Thiruvananthapuram"]}})
for i in x:
        print("\n Name: " +i['name']['fname']+" "+i['name']['lname'], "\n Mark: ", i['address']['city'])

 Name: Arya S
 Mark:  Varkala

 Name: Vidhya S
 Mark:  Kadakkavoor

 Name: Vivek Bose
 Mark:  Ernakulam

 Name: Divya Vijayan
 Mark:  Varkala

 Name: Vimal Bose
 Mark:  Ernakulam

 Name: Vinod Paniker
 Mark:  Ernakulam

 Name: Amritha S
 Mark:  Varkala

 Name: Arun S
 Mark:  Attingal

 Name: Abhilash S
 Mark:  Attingal

 Name: Sree Raj
 Mark:  Varkala

In [5]:
#Total marks of all subjects

x=db.studlist.aggregate([
    {"$group": {"_id": "$course", "Total Mark of Subject": {"$sum": 1}}}
])
for i in x:
    print(i)

{'_id': 'MCA', 'Total Mark of Subject': 15}
{'_id': 'Civil', 'Total Mark of Subject': 5}
{'_id': 'Computer Science', 'Total Mark of Subject': 1}
{'_id': 'Mechanical', 'Total Mark of Subject': 4}

In [103]:
#Average marks of all subjects

x=db.studlist.aggregate([
        {"$group":{"_id": "$course", "Average Mark of Each Course"  :{"$avg" : "$mark"}}}]
)
for i in x:
    print(i)

{'_id': 'Computer Science', 'Average Mark of Each Course': 90.0}
{'_id': 'Civil', 'Average Mark of Each Course': 78.6}
{'_id': 'Mechanical', 'Average Mark of Each Course': 86.25}
{'_id': 'MCA', 'Average Mark of Each Course': 77.4}

In [10]:
#Minimum marks of all subjects

x=db.studlist.aggregate([
    {"$match" :{"gender":"male"}},
    {"$group" :{"_id": "$course", "Minimum mark of each course" : {"$min" :"$mark"}}}
]
)
for i in x:
    print(i)

{'_id': 'Mechanical', 'Minimum mark of each course': 75}
{'_id': 'Civil', 'Minimum mark of each course': 70}
{'_id': 'MCA', 'Minimum mark of each course': 60}

In [117]:
#Maximum marks of all subjects

x=db.studlist.aggregate([
    {"$match" :{"gender" :"female"}},
    {"$group" :{"_id" :"$course" , "Maximum mark" : {"$max" :"$mark"}}}
])
for i in x:
    print(i)

{'_id': 'Computer Science', 'Maximum mark': 90}
{'_id': 'Civil', 'Maximum mark': 90}
{'_id': 'Mechanical', 'Maximum mark': 95}
{'_id': 'MCA', 'Maximum mark': 99}

In [112]:
x=db.studlist.find({"address.city":"Ernakulam"})
for i in x:
    print(i["address"]["city"])

Ernakulam
Ernakulam
Ernakulam